{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb-normalization:pyfb_normalization_callmappingrule_list' %}">{% trans "call mapping rule listing" %}</a></p>
<form method="post">
{% csrf_token %}
{{form|crispy}}
<button class="btn btn-primary" type="submit">{% trans "submit" %}</button>
</form>
{% endblock %}
