{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb-normalization:pyfb_normalization_normalizationrulegrp_list' %}">{% trans "normalization rule group listing" %}</a></p>
<table class="table">
<tr>
<td>ID</td><td>{% trans "Link" %}</td>
    <td>pr</td>
    <td>{% trans "description" %}</td>
    <td>{% trans "created" %}</td>
    <td>{% trans "modified" %}</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.pr }}</td>
    <td>{{ object.description }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.modified }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'pyfb-normalization:pyfb_normalization_normalizationrulegrp_create' %}">{% trans "create new normalization rule group" %}</a>
{% endblock %}
