{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'pyfb-normalization:pyfb_normalization_normalizationrule_list' %}">{% trans "normalization rule listing" %}</a></p>
<table class="table">
<tr><td>{% trans "name" %}</td><td>{{ object.name }}</td></tr>
<tr><td>match_op</td><td>{{ object.match_op }}</td></tr>
<tr><td>match_exp</td><td>{{ object.match_exp }}</td></tr>
<tr><td>match_len</td><td>{{ object.match_len }}</td></tr>
<tr><td>subst_exp</td><td>{{ object.subst_exp }}</td></tr>
<tr><td>repl_exp</td><td>{{ object.repl_exp }}</td></tr>
<tr><td>attrs</td><td>{{ object.attrs }}</td></tr>
<tr><td>{% trans "description" %}</td><td>{{ object.description }}</td></tr>
<tr><td>{% trans "created" %}</td><td>{{ object.created }}</td></tr>
<tr><td>{% trans "modified" %}</td><td>{{ object.modified }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">{% trans "edit normalization rule" %}</a>

{% endblock %}
